{
  "tabWidth": 2,
  "printWidth": 80,
  "semi": true,
  "useTabs": false,
  "singleQuote": false,
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "singleAttributePerLine": false,
  "endOfLine": "crlf",
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "proseWrap": "preserve",
  "quoteProps": "consistent",
  "htmlWhitespaceSensitivity": "strict",
  "embeddedLanguageFormatting": "auto",
  "plugins": ["prettier-plugin-tailwindcss"]
}
